div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 320px;
    height: 497px;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 14%;
    background-color: white;
}


img {
    border-radius: 10px;
    width: 288px;
    height: 288px;
    margin-top: -5px;
}


h1 {
    color: #1F314F;
    font-size: 22px;
    font-family: Outfit;
    font-weight: 700;
    text-align: center;
    margin-top: 25px;
}

p {
    color: #7D889E;
    font-size: 15px;
    font-family: Outfit;
    font-weight: 300;
    text-align: center;
    margin-top: 0px;
}
