*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-color: #D5E1EF;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}


.card {
    width: 320px;
    height: 497px;
    padding: 15px;
    border-radius: 20px;
    background-color: white;
    line-height: 1.3;
}

.text-container {
    width: fit-content;
    height: fit-content;
}

.image {
    margin: 0 auto;
    width: 288px;
    height: 288px;
    border-radius: 10px;
}

.header {
    margin: 15px;
    color: #1F314F;
    font-size: 22px;
    font-family: Outfit;
    font-weight: 700;
    text-align: center;
}

.description {
    margin: 0 18px;
    color: #7D889E;
    font-size: 16px;
    font-family: Outfit;
    font-weight: 300;
    text-align: center;
    max-width: 25ch;
}
